.aboutUs {
    margin-top: 52px;

    h3 {
        text-align: center;
        font-family: $p-font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 33px;
        
    }
    h1 {
        text-align: center;
        font-family: $body-font;
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 59px;
        font-size: 36px;
        margin-bottom: 32px;
    }
}
