@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
.aboutUs {
  margin-top: 52px; }
  .aboutUs h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px; }
  .aboutUs h1 {
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    font-size: 36px;
    margin-bottom: 32px; }

.dogAbout, .catAbout {
  transition: transform 500ms; }

.dogAbout:hover, .catAbout:hover {
  transform: translateY(-10px); }

.catAbout {
  height: 90%;
  width: 90%; }

.dogAbout, .catAbout {
  height: 90%;
  width: 90%; }

.shop {
  margin-top: 52px; }
  .shop h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px; }
  .shop h1 {
    text-align: center;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    font-size: 36px;
    margin-bottom: 32px; }

#contactForm {
  margin: 0 auto 50px;
  /* Style inputs with type="text", select elements and textareas */
  /* Style the submit button with a specific background color etc */
  /* When moving the mouse over the submit button, add a darker green color */
  /* Add a background color and some padding around the form */ }
  #contactForm input[type=text],
  #contactForm select,
  #contactForm textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical; }
  #contactForm input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer; }
  #contactForm input[type=submit]:hover {
    background-color: #45a049; }
  #contactForm .container {
    border-radius: 5px;
    padding: 20px; }

#contactForm > div > form > label {
  font-weight: 600; }

@media only screen and (min-width: 768px) {
  .contactParent {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 10%; } }

@media only screen and (max-width: 768px) {
  .contactParent {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 10%; } }

.box--wholesale,
.box--press,
.box--customer {
  padding: 30px;
  max-width: fit-content; }
  .box--wholesale p,
  .box--press p,
  .box--customer p {
    text-align: center; }
  .box--wholesale h3,
  .box--press h3,
  .box--customer h3 {
    text-align: center;
    font-weight: bold; }
  .box--wholesale p span,
  .box--press p span,
  .box--customer p span {
    display: block; }

#contactForm {
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

/* MAP AND EACH */
.box--customer {
  background-color: rgba(198, 246, 255, 0.6);
  margin-bottom: 30px; }

.box--wholesale {
  background-color: rgba(182, 255, 198, 0.6);
  margin-bottom: 30px; }

.box--press {
  background-color: rgba(255, 254, 182, 0.6);
  margin-bottom: 30px; }

* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3d3d3d; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* CUSTOM FONTS */
@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Light.eot");
  src: url("Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("Gilroy-Light.woff2") format("woff2"), url("Gilroy-Light.woff") format("woff"), url("Gilroy-Light.ttf") format("truetype"), url("Gilroy-Light.svg#Gilroy-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-ExtraBold.eot");
  src: url("Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("Gilroy-ExtraBold.woff2") format("woff2"), url("Gilroy-ExtraBold.woff") format("woff"), url("Gilroy-ExtraBold.ttf") format("truetype"), url("Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

/* END CUSTOM FONTS */
body {
  font-family: 'Gilroy' !important;
  grid-template-columns: auto; }

.header {
  background-color: black;
  height: 99px;
  top: 0;
  display: flex;
  align-items: center; }

.slideshow {
  height: 596px;
  background-image: url(./slideshow.png);
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  background-size: cover;
  gap: 6px;
  background-repeat: no-repeat;
  grid-area: slideshow; }

@media screen and (max-width: 720px) {
  .buttonDesktop, .transparentNav {
    display: none; } }

@media screen and (min-width: 720px) {
  .button {
    display: none; }
  .buttonBigger {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: black;
    background-color: white;
    padding: 5px 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-decoration: none;
    text-transform: lowercase;
    padding: 0px 26px;
    max-width: fit-content; } }

@media screen and (min-width: 720px) {
  .slideshow {
    background-image: url(./slideshow-desktop.png);
    background-size: cover;
    min-height: 850px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    background-position: center; }
  .header {
    display: none;
    grid-area: header; }
  .mainText {
    font-size: 72px;
    max-width: 436px !important; }
  .slideshowContent {
    margin-left: 101px; }
  .mainParagraph {
    font-size: 24px;
    line-height: 36px; } }

.pageWidth {
  margin-left: 15px;
  margin-right: 15px; }

.collectionRow {
  height: auto;
  margin: 21px 0px;
  grid-area: collectionRow;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  flex-direction: column;
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

@media screen and (min-width: 1200px) {
  .collectionRow {
    flex-direction: row; }
  #contactForm {
    max-width: 50%; } }

.collectionBlock1,
.collectionBlock2,
.collectionBlock3 {
  height: 304px;
  width: 339px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

.blockParagraph {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px; }

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px; }

.block a {
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: lowercase; }

.productSlider1 {
  height: 343px;
  margin: 30px 0px;
  grid-area: productSlider1;
  gap: 21px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

.productSlider2 {
  height: 343px;
  margin: 30px 0px;
  grid-area: productSlider2;
  gap: 21px;
  display: flex;
  flex-flow: row;
  overflow: auto;
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

.featuredProduct {
  min-height: min-content;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block; }

.featuredProduct img {
  height: 254px;
  width: auto; }

.featuredProduct::after {
  flex: 0 0 12px; }

.productTitle {
  display: relative; }

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0% 5%;
  row-gap: 10px;
  flex-direction: row; }

.search,
.cart,
.menu {
  padding-right: 10px; }

.logo {
  min-width: 125px; }

.mainParagraph {
  font-family: 'Poppins', sans-serif;
  color: white;
  Font-style: SemiBold;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 15px; }

.mainText {
  max-width: 218px;
  color: white; }

.button {
  color: black;
  background-color: white;
  padding: 5px 20px;
  max-width: fit-content;
  text-decoration: none;
  text-transform: lowercase;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px; }

.collectionBlock1 {
  background-image: url(./block1.png); }

.collectionBlock2 {
  background-image: url(./block2.png);
  background-size: cover;
  background-repeat: no-repeat; }

.collectionBlock3 {
  background-image: url(./block3.png); }

.newsletter h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: white;
  padding-top: 45px;
  padding-bottom: 9px; }

.newsletter {
  height: 340px;
  padding: 0px 15px;
  background-color: black;
  grid-area: newsletter;
  animation: 0.5s ease-out 0s 1 slideInFromLeft; }

.newsletter p {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px; }

.signup {
  margin-top: 32px;
  width: 100%;
  padding: 12px;
  display: flex;
  padding: 0px;
  margin-right: auto; }

.signupBox {
  min-width: 216px;
  min-height: 48px;
  background: #E1DDDD;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  padding-left: 13px; }

.signupCheck {
  min-width: 143px;
  min-height: 48px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  background: white;
  border: 2px solid #FFFFFF; }

.privacyText {
  text-align: center;
  margin-top: 15px; }

.footer {
  height: 350px;
  padding: auto 28px;
  background-image: url(./footerBackground.png);
  background-position: right;
  bottom: 0;
  grid-area: footer;
  padding-top: 68px; }

.footerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 33px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 0.5px solid #c2c2c2;
  align-items: center; }

.footerTitle img {
  width: 16px;
  height: 8px; }

.socialParagraph {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 550;
  padding-bottom: 15px; }

.socialMedia {
  margin: 5% 10%;
  text-align: center; }

.copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding-top: 20px; }

.aboutUs {
  margin-top: 52px; }

.aboutUs h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 33px; }

.aboutUs h1 {
  text-align: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  font-size: 36px;
  margin-bottom: 32px; }

.firstRow {
  text-align: center;
  display: flex;
  flex-direction: column;
  animation: 1s ease-out 0s 1 slideInFromLeft; }

.firstRow img {
  margin-bottom: 12px; }

.firstRow p {
  margin-bottom: 32px; }

.firstRow h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 72px; }

.secondRow {
  text-align: center;
  display: flex;
  flex-direction: column;
  animation: 1s ease-out 0s 1 slideInFromLeft; }

@media screen and (min-width: 1190px) {
  .secondRow {
    flex-direction: row; }
  .firstRow {
    flex-direction: row; } }

.secondRow img {
  margin-bottom: 12px; }

.secondRow p {
  margin-bottom: 32px; }

.secondRow h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 72px; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

.carousel-inner {
  background: black;
  overflow: hidden; }

.carousel-item img {
  object-fit: contain;
  opacity: 0.6;
  min-height: 450px; }

.carousel-inner {
  min-height: 450px;
  max-height: 950px; }

@media only screen and (min-width: 1200px) {
  body > div.pageWidth > div > div > div > img {
    height: 384px;
    width: 352px; }
  .sliderDesktop {
    margin: 5% 10%; }
  .productSlider1,
  .productSlider2 {
    height: fit-content; }
  .collectionBlock1,
  .collectionBlock2,
  .collectionBlock3 {
    width: 439px;
    height: 445px; }
  .firstRow p,
  .secondRow p {
    max-width: 400px; }
  .firstRow,
  .secondRow {
    justify-content: center;
    gap: 100px; }
  body > div.pageWidth > div.collectionRow {
    gap: 30px; }
  .slideshow {
    max-height: 750px; }
  body > div.slideshow > div.buttonDesktop {
    display: flex;
    justify-content: flex-start;
    margin: 0 5.3%; } }

.newsletterDog {
  display: flex;
  width: 100%;
  justify-content: center; }

@media only screen and (min-width: 750px) {
  .footer {
    display: none; }
  .aboutBody {
    margin: 0 20%; }
  body > section > h2,
  body > section > p:nth-child(2) {
    text-align: center; }
  .signup {
    justify-content: center; }
  .newsletterDog {
    display: flex;
    width: 100%;
    justify-content: center; }
  .newsletterDog img {
    width: 105px;
    height: 95px; } }

@media only screen and (max-width: 750px) {
  .footerDesktop {
    display: none; } }

body > footer.footerDesktop {
  padding: 50px;
  background-image: url(./footerBackground.png);
  background-position: right;
  bottom: 0;
  background-size: cover; }

.socialMedia--desktop {
  text-align: center;
  margin: 20px; }

.socialParagraph--desktop {
  padding: 0px;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 550; }

body > footer.footerDesktop > div > div.row > div > h2,
body > div.pageWidth > div:nth-child(2) > h2,
body > div.pageWidth > div:nth-child(3) > h2 {
  font-weight: 600; }

.btn-secondary {
  color: black;
  background-color: transparent;
  border-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  font-family: 'Poppins', sans-serif;
  text-align: center; }

body > footer.footer > div {
  text-align: center; }

body > footer.footerDesktop > div > div.row > div:nth-child(3) p, body > footer.footerDesktop > div > div.row > div:nth-child(3) h2 {
  text-align: right; }

body > footer.footerDesktop > div > div.row > div:nth-child(2) p, body > footer.footerDesktop > div > div.row > div:nth-child(2) h2 {
  text-align: center; }
